h1 {
    font-size: 40px;
    text-align: center;
    -webkit-text-fill-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:coral;
  }

  h2 {
    -webkit-text-fill-color: black;
  }

  h4 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  body {
      background-image: url(FormBG.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-size: 100vw 170vh;
      font-family: Arial, Helvetica, sans-serif;
  }